.fondo{

height: 100px;
width: 100%;

background-color: black;
margin-bottom: 6px;

    display: flex; /*chat gpt estas 3 (ver como afecta una clase a contenedores)*/
    justify-content: center; 
    align-items: center; 

}

.logoheader{
   
    max-height: 100%;
    
    /*position: relative;
    left: 44%; */
    
}

.barra{

    width: 100%; /*revisar porque no se centra*/
    height: 60px;
      display: flex; 
      justify-content: center;
    
    
    margin-bottom: 45px;

    border: 2px solid white; 
    border-radius: 10px; 
    box-sizing: border-box; 
    background-color: black;
}

.barra ul {
    list-style-type: none; /* Elimina los puntos de la lista */

    padding: 0; 
    margin: 0;

    display: flex; /* Hace que los elementos de la lista estén en una fila */
    justify-content: center;
    
    gap: 200px;
    align-items: center;
    color: black;
    font-size: 20px;
    
    /* FUENTE TEXTO */
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.barra ul li a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: #a5a5a5; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
}

.barra ul li a:hover {
    color: white; /* Cambia el color del texto al pasar el ratón */
    background-color: black;
    box-shadow: 0 0 0 4px black; 
    border-radius: 5px; 
}

body{

    background-image: url("Imagenes\ TP\ 1/fondopaginaweb.jpg");
    background-size: cover; 
    background-position: center; 
    
}


.texto-con-fondo {

    display: inline-block; /*fondo q solo ocupa el texto*/
    border-radius: 10px;
    background-color: white; 
    padding: 10px; 
    z-index: 1;
    position: relative;
    left: 20%;
    top: 100px;
}

.contenedor{

    /*position: absolute;*/
    width: 100%; 
    height: 600px;
    display: flex; /* Utiliza flexbox para centrar la imagen */
    justify-content: center; /* Centra horizontalmente la imagen */
    margin-bottom: 45px /*margen para separar div*/
    
    
}

.hori{

display: flex;
align-items: center;
gap: 10px;

}


.caja {

    
    width: 50%; 
    height: 500px; 
    border: 2px solid white; /* Grosor y color del borde */
    border-radius: 10px; /* Esquinas redondeadas */
    /*box-sizing: border-box; revisar que cambio*/
    margin-left: 150px;
    padding: 20px; /*borde interno*/
    background-color: black;

    }

.sinopsis {

    font-size: 28px;
    align-content: center;
    color: white;
    padding: 20px;

     /* FUENTE TEXTO */
     font-family: "Ubuntu", sans-serif;
     font-weight: 300;
     font-style: normal;
       
} 
    
.cajaaside{

    width: 30%; 
    height: 500px; 
    border: 2px solid white; 
    border-radius: 10px; 
    margin-left: 100px;
    margin-right: 120px;
    background-color: black;
    
}

    
.divtrailer{

    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;

}

.video {

    aspect-ratio: 16 / 9; 
    width: 80%; /* Ajusta el tamaño general, puedes usar porcentaje o píxeles */
    max-width: 600px; 
    height: auto; 
    
}

    
.contenedorfooter{

    
    margin: 0 auto; /*fondo negro centrado*/
    justify-content: center; /*logos centrados*/
    align-items: center; /*revisar alineacion footer*/
    width: 95%;
    height: 175px;
    gap: 40px;
    background-color: black;
    margin-bottom: 25px;
    margin-top: 50px;

    border: 2px solid white; 
    border-radius: 10px; 
    box-sizing: border-box; 
}


#legales{
    display: flex;
    justify-content: center;
    color: white;
    display: flex;
    font-size: 20px;
    
     /* FUENTE TEXTO */
     font-family: "Ubuntu", sans-serif;
     font-weight: 400;
     font-style: normal;
}


.logos{

    display: flex;
    justify-content: center;
    
    gap: 20px;
}

.logos img{
        
    height: 35px;
    width: 35px;
    border-radius: 5px;
    
}



/* HTML PERSONAJES */


.contpersonajes{


    display: flex;
    /*justify-content: center; */
    width: 78%;
    height: 470px;
    margin: 0 auto;

    border: 2px solid white; 
    border-radius: 10px; 
    box-sizing: border-box; 
    background-color: black;
    margin-top: 15px;
    margin-bottom: 15px;


}

.personajes{

    
    height: 400px;
    width: 45%;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.personajesinverso{

    
    height: 400px;
    width: 45%;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;

}


.textocolor{

    color: white;
    font-size: 20px;
    width: 45%;
    margin-right: 30px;
    
    text-align: left; /* Alinea el texto a la izquierda desde el centro */
    margin-left: auto; /* Empuja el elemento a la derecha */ 
    
     /* FUENTE TEXTO */
    font-family: "Ubuntu", sans-serif;
    font-weight: 350;
    font-style: normal;
      

}

.contenedorhori {
   
display: flex;
align-items: center;
    
    
}


/*HTML GALERIA */

.gallery-container {  /*NO ANDA */
    overflow: hidden;
}

.gallery {
    display: flex;
    width: 300%; /* Ajusta este valor según el número de imágenes */
    transition: transform 0.5s ease;
}

.gallery img {
    width: 400px;
    height: auto;
}


